---
import ChevronLeft from "../../assets/icons/ChevronLeft.svg";
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<!-- Use 'viewport' for instant prefetch on both mobile and desktop -->
<a href={href} data-astro-prefetch="viewport">
  <button
    type="button"
    class={"fixed bottom-4 left-4 cursor-pointer rounded-full bg-primary-500 [&_svg]:size-8 [&_svg]:text-primary-50 flex items-center justify-center h-12 w-12"}
  >
    <ChevronLeft />
  </button>
</a>
