---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<li
  class="section-item section-nav-item relative w-full overflow-hidden rounded-lg"
>
  <div class="flex w-full rounded-lg backdrop-blur-sm py shadow-lg">
    <div class="flex flex-col gap-2 grow relative z-10">
      <div class="flex items-center gap-2">
        <h3 class="font-bold text-lg tracking-wide">{name}</h3>
      </div>
    </div>
  </div>
</li>

<style>
  :global(.light-mode) {
    .section-item {
      /* background-color: rgba(var(--primary-50-rgb), 0.005); */
      color: var(--primary-900);
      border: 1px solid var(--glass-border);
    }
  }

  :global(.dark-mode) {
    .section-item {
      /* background-color: rgba(var(--primary-900-rgb), 0.005); */
      color: var(--primary-100);
      border: 1px solid var(--glass-border);
    }
  }
</style>
