---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<li
  class="section-item section-nav-item relative w-full overflow-hidden rounded-lg p-2"
>
  <h3 class="font-bold text-2xl tracking-wide">{name}</h3>
</li>

<style>
  :global(.light-mode) {
    .section-item {
      background-color: rgba(255, 255, 255, 0.95);
      color: var(--primary-900);
    }
  }

  :global(.dark-mode) {
    .section-item {
      background-color: rgba(0, 0, 0, 0.9);
      color: var(--primary-100);
      h3 {
        background-image: linear-gradient(
          to bottom right,
          var(--primary-100),
          var(--primary-300)
        );
        color: transparent;
        background-clip: text;
      }
    }
  }
</style>
